

.image-bg {
    background-image: url('https://static.qobuz.com/images/covers/qc/re/i0h6uwrs2reqc_600.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Additional background styles */
  }
  
  .login-div {
    background-color: #95aec0;
    padding: 20px;
    border-radius: 5px;
    height: 400px;
    width: 500px;
    border-color: #4caf50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Additional styles for the login container */
  }
  
  .login-form {
    margin: 20px;
  

    /* Additional styles for the login form */
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* Additional styles for the input fields */
  }
  
  button {
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* Additional styles for the button */
  }
  
  .prompt {
    margin-top: 10px;
    /* Additional styles for the prompt text */
  }
  
  .prompt a {
    color: #4caf50;
    /* Additional styles for the link within the prompt */
  }
  